html {
	font-size: 16px;
}
body{
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1rem;
}
.header {
	position: fixed;
	min-width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	z-index: 9999;
	background-color: #fff;
	border-bottom: 0.35rem solid #fad027;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-elem1 {
	font-size: 1.5rem;
}
.logo-elem2 {
	display: block;
	color: #0091be;
}
.title {
	font-size: 1.9rem;
	font-weight: 400;
	margin: 0;
}

.menu {
	width: 315px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
}
.menu-list{
	padding-left: 0;
	margin: 0;
}
.menu-list__item {
	display: inline-block;
	margin-right: 2.2rem;
}
.menu-list__item:last-child {
	margin-right: 0;
}
.link {
	vertical-align: baseline;
	text-decoration: none;
	color: #000;
	transition: color .3s ease-in-out .1s;
}
.link:hover {
	color: #0091be;
}
*:focus {
	outline: double 0.25rem #fad027;
	outline-offset: 0.25rem;
}
.clear:after {
    content: "";
    clear: both;
    display: block;
}
.banner {
	min-width: 1200px;
	padding-top: 8rem;
	padding-bottom: 3rem;
	background-color: #0091be;
}
.banner__container {
    display: flex;
	justify-content: center;
	align-items: center;
}
.slogan {
	margin-left: 2.8rem;
	color: #fff;
    font-style: italic;
	font-size: 2.2rem;
}
.slogan__elem2 {
	display: block;
}
.section {
	min-width: 1200px;
	border-bottom: 0.25rem solid #eee;
	box-shadow: inset 0 -0.7rem 2rem #eee;
}

.section-header {
	border-bottom: 0.12rem solid #eee;
	padding-bottom: 2rem;
	padding-top: 3.45rem;
	margin-bottom: 3.45rem;
}
.section-header__title {
	font-size: 2.2rem;
}
.content {
	padding-bottom: 2.8rem;
	display: flex;
	justify-content: space-between;
}
.post__description {
	width: 565px;
}
.post__description__text {
	margin: 0;
	line-height: 1.8rem;
}
.status-box {
	width: 570px;
}
.progress-bar__status {
	margin-top: 0.6rem;
	margin-bottom: 1.25rem;
	background-color: #eee;
	width: 100%;
	border-radius: 0 0.4rem 0.4rem 0;
	overflow: hidden;
}
.status {
	border-radius: 0 0.4rem 0.4rem 0;
}
.progress-bar__name {
	font-weight: bold;
}
.progress-bar__status1 {
	width: 90%;
	height: 1.6rem;
	background-color: #0091be;
	animation: progress 3s ease-in-out 1s 2 alternate-reverse;
}
@keyframes progress{
    0% { transform: translate3d(-100%,0,0); }
	10% { background-color: #3c3838; }
	30% { background-color: #3c3838; }
    100% { transform: translate3d(0,0,0); }
}
.progress-bar__status2 {
	width: 81%;
	height: 1.6rem;
	background-color: #40c95d;
	animation: progress 3s ease-in-out 1s 2 alternate-reverse;
}
.progress-bar__status3 {
	width: 94%;
	height: 1.6rem;
	background-color: #d7d93f;
	animation: progress 3s ease-in-out 1s 2 alternate-reverse;
}
.section__project {
	font-size: 0;
}
.project {
	margin-bottom: 0.8rem;
	margin-right: 0.6rem;
	display: inline-block;
	position: relative;
	text-decoration: none;
}
.project:nth-child(4n+4) {
	margin: 0;
}
.project:hover .project-insert {
	background-color: #0091be;
	opacity: 1;
}
.project-insert {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	font-size: 1rem;
	transition: opacity .5s ease-out;
}

.project-insert__lable {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.lable {
	color: #fff;
}
.column__title {
	max-width: 576px;
}
.column__container {
	margin-top: 1.25rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 576px;
}
.column__container:nth-of-type(1) {
	max-width: 1200px;
}
.column__image {
	margin-bottom: 1.5rem;
	min-width: 100px;
	max-width: 100%;
}
.major-post {
	margin-bottom: 3.12rem;
}
.date {
	margin-right: 4.06rem;
}
.column__day {
	width: 120px;
	height: 2.81rem;
	background-color: #eee;
	display: table;
}
.day{
	display: table-cell;
	vertical-align: middle;
	padding-left: 3.12rem;
}
.column__month {
	width: 120px;
	height: 1.5rem;
	background-color: #0091be;
	display: table;
	margin-bottom: 1.25rem;
}
.month {
	display: table-cell;
	vertical-align: middle;
	padding-left: 2.8rem;
	color: #fff;
}
.author__name {
	font-size: 0.87rem;
}
.column__news {
	width: 1010px;
	display: inline-block;
	vertical-align: top;
}
.news__text {
	margin: 0;
	padding-left: 1rem;
	padding-bottom: 1rem;
}
.tags {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.tag-names {
	display: inline-block;
	background-color: #0091be;
	padding-left: 0.31rem;
	padding-right: 0.31rem;
}
.tag-names__link {
	text-decoration: none;
	color: #fff;
	transition: color .3s ease-in-out .1s;
}
.tag-names__link:hover {
	color: #eee;
}

.secondary-post {
	float: left;
}
.text {
	width: 470px;
	margin: 0;
	line-height: 1.87rem;
}
.date-sec {
	width: 50px;
}
.column__day-sec {
	width: inherit;
	height: 2.2rem;
	background-color: #eee;
	display: table;
}
.day-sec {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1.28rem;
}
.column__month-sec {
	width: inherit;
	height: 1.5rem;
	background-color: #0091be;
	display: table;
}
.month-sec {
	display: table-cell;
	vertical-align: middle;
	padding-left: 0.65rem;
	color: #fff;
}
.last-post {
	float: right;
}

.tag__link1 {
	text-decoration: none;
	color: #fff;
	font-size: 0.87rem;
	transition: color .3s ease-in-out .1s;
}
.tag__link1:hover {
	color: #eee;
}
.column__access {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
	max-width: 576px;
}
.column__access:nth-of-type(2) {
	max-width: 1200px;
}
.map {
	min-width: 1200px;
}
.footer {
	min-width: 1200px;
	background-color: #3c3838;
	padding-top: 1.87rem;
	padding-bottom: 1.5rem;
}
.footer__container {
	font-size: 0.87rem;
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.link__developer {
	color: inherit;
	text-decoration: none;
}
