@font-face {
	font-family: 'Roboto';
	src:url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src:url('../fonts/Roboto-Bold.woff') format('woff'),
	url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src:url('../fonts/Roboto-Italic.woff') format('woff'),
	url('../fonts/Roboto-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

html {
	font-size: 10px;
}

body{
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1.6rem;
}

.header {
	position: fixed;
	min-width: 100%;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;
	z-index: 9999;
	background-color: #fff;
	border-bottom: 0.5rem solid #fad027;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	margin: 0;
	font-size: 0;
	font-weight: 400;
}

.header__logo-name {
	font-size: 2.4rem;
}

.header__logo-lable {
	font-size: 1.6rem;
	display: block;
	color: #0091be;
	font-weight: 400;
}

.title {
	font-size: 3rem;
	font-weight: 400;
	margin: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.menu {
	display: flex;
	align-items: center;
}

/*.menu-hamburger {
	font-size: 0;
	background: url(../images/burger.svg) no-repeat;
	width: 2.8rem;
	height: 3.2rem;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 30%;
	right: 3%;
	padding: 0;
	display: none;
}
*/

.menu-hamburger--collapse .menu-hamburger__inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.menu-hamburger--collapse .menu-hamburger__inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.menu-hamburger--collapse .menu-hamburger__inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.menu-hamburger--collapse.is-active .menu-hamburger__inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-hamburger--collapse.is-active .menu-hamburger__inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.menu-hamburger--collapse.is-active .menu-hamburger__inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu__list{
	padding-left: 0;
	margin: 0;
}

.menu__list-item {
	display: inline-block;
	margin: 0 1.7rem;
}

.menu__list-item:last-child {
	margin-right: 0;
}

.link {
	vertical-align: baseline;
	text-decoration: none;
	color: #000;
	transition: color .3s ease-in-out .1s;
}

.link:hover {
	color: #0091be;
}

*:focus {
	outline: double 0.4rem #fad027;
	outline-offset: 0.4rem;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}

.banner {
	padding-top: 12.8rem;
	padding-bottom: 4.8rem;
	background-color: #0091be;
}

.banner__container {
  display: flex;
	justify-content: center;
	align-items: center;
}

.banner__slogan {
	margin-left: 4.4rem;
	color: #fff;
  font-style: italic;
	font-size: 3.5rem;
}

.section {
	border-bottom: 0.4rem solid #eee;
	box-shadow: inset 0 -1.1rem 3.2rem #eee;
}

.section__header {
	border-bottom: 0.1rem solid #eee;
	padding-bottom: 3.2rem;
	padding-top: 5.5rem;
	margin-bottom: 3.5rem;
}

.section__title {
	font-size: 3.5rem;
}

.section__content {
	padding-bottom: 4.4rem;
	display: flex;
}

.post-description {
	width: 50%;
	margin-right: 1.6rem;
}

.post-description__text {
	margin: 0;
	line-height: 2.8rem;
}

.status-box {
	width: 50%;
}

.progress-bar__status {
	margin-top: 0.9rem;
	margin-bottom: 2rem;
	background-color: #eee;
	width: 100%;
	border-radius: 0 0.6rem 0.6rem 0;
	overflow: hidden;
}

.status {
	border-radius: 0 0.6rem 0.6rem 0;
}

.progress-bar__name {
	font-weight: bold;
}

.progress-bar__status1 {
	transform: translate3(-10%, 0);
	height: 2.5rem;
	background-color: #0091be;
	animation: progress 3s ease-in-out 1s normal;
}

.progress-bar__status2 {
	transform: translate(-19%, 0);
	height: 2.5rem;
	background-color: #40c95d;
	animation: progress 3s ease-in-out 1s normal;
}

.progress-bar__status3 {
	transform: translate(-6%, 0);
	height: 2.5rem;
	background-color: #d7d93f;
	animation: progress 3s ease-in-out 1s normal;
}

@keyframes progress {
	0% {
		background-color: #fff;
		transform: translate(-100%, 0);
	}
	20% {
		background-color: #fff;
	}
}

.section__project {
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
}

.project {
	width: 23%;
	margin-bottom: 2.6%;
	margin-right: 2.6%;
	position: relative;
	text-decoration: none;
}

.project:nth-of-type(4n+4) {
	margin-right: 0;
}

.project:hover .project__insert {
	background-color: #0091be;
	opacity: 1;
}

.project__image {
	width: 100%;
}

.project__insert {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	font-size: 1.6rem;
	transition: opacity .5s ease-out;
	text-align: center;
}

.project__lable {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.lable {
	color: #fff;
}

.section__posts {
	display: flex;
	flex-wrap: wrap;
}

.section__container {
	margin-top: 2rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.section__container:nth-of-type(1) {
	max-width: 100%;
}

.section__post-image {
	margin-bottom: 2.4rem;
	width: 100%;
}

.date {
	margin-right: 3.2rem;
	display: flex;
	flex-direction: column;
}

.date:first-child {
	width: 25%;
}

.date__day {
	background-color: #eee;
	text-align: center;
	padding: 1.6rem 0.8rem;
}

.date__month {
	background-color: #0091be;
	margin-bottom: 2rem;
	text-align: center;
	padding: 0.8rem;
}

.date__month-text {
	color: #fff;
}

.tags {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.tags__names {
	display: inline-block;
	background-color: #0091be;
	padding: 0 0.4rem;
	margin: 0.4rem 0;
}

.tags__link {
	text-decoration: none;
	color: #fff;
	transition: color .3s ease-in-out .1s;
}

.tags__link:hover {
	color: #000;
}

.section__tags-image {
	width: 17px;
	height: 17px;
	transform: scale(-1,1);
	background: url(../images/tags.svg)
	no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: middle;
}

.user {
	width: 17px;
	height: 17px;
	background: url(../images/user.svg)
	no-repeat;
	background-size: contain;
	display: inline-block;
	vertical-align: baseline;
}

.section__access {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2.4rem;
	font-size: 1.4rem;
}

.second {
	width: 48.5%;
	margin-right: 1.5%;
	margin-top: 4.9rem;
}

.text {
	margin: 0;
	line-height: 2.9rem;
}

.last {
	width: 48.5%;
	margin-left: 1.5%;
	margin-top: 4.9rem;
}

.map {
	min-width: 100%;
	background: transparent;
	position: relative;
}

.footer {
	width: 100%;
	background-color: #3c3838;
	padding-top: 2.9rem;
	padding-bottom: 2.4rem;
}

.footer__container {
	font-size: 1.3rem;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.footer__link {
	color: #0091be;
	text-decoration: none;
}

.footer__link:hover {
	color: #fff;
}

@media screen and (max-width: 960px) {
	html {
		font-size: 8px;
	}

	.menu__list {
		display: none;
	}

	.menu-hamburger {
		display: flex;
	}

	.section__content {
		flex-direction: column;
	}

	.post-description{
		width: 100%;
		margin-right: 0;
	}

	.status-box{
		width: 100%;
		margin-top: 2.8rem;
	}

	.project {
		width: 31%;
		margin-right: 3.5%;
	}

	.project:nth-of-type(4n+4) {
		margin-right: 3.5%;
	}

	.project:nth-of-type(3n) {
		margin-right: 0;
	}

	.section__tags {
		margin-top: 0.7rem;
	}

	.section__post-image {
		margin-bottom: 2rem;
	}

	.section__access {
		flex-direction: column;
		align-items: flex-start;
	}
}

@media screen and (max-width: 768px){
	.header {
		position: absolute;
	}

	.banner__container {
		flex-direction: column;
	}

	.banner__slogan {
		margin-left: 0;
		text-align: center;
	}

	.section__header {
		padding-bottom: 1.6rem;
		padding-top: 2.5rem;
		border-bottom: 0.3rem solid #eee;
	}
}

@media screen and (max-width: 480px) {

	.project {
		width: 49%;
		margin-right: 2%;
	}

	.project:nth-of-type(4n+4) {
		margin-right: 2%;
	}

	.project:nth-of-type(3n) {
		margin-right: 2%;
	}

	.project:nth-of-type(2n) {
		margin-right: 0;
	}

	.second {
		width: 100%;
		margin-right: 0;
		margin-top: 3rem;
	}

	.last {
		width: 100%;
		margin-left: 0;
		margin-top: 3rem;
	}
}

@media screen and (max-width: 320px){
	.project__insert {
		font-size: 1.3rem;
	}
}
