body{
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
}
.header {
	position: fixed;
	min-width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 9999;
	background-color: #fff;
	border-bottom: 5px solid #fad027;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-elem1 {
	font-size: 24px;
}
.logo-elem2 {
	display: block;
	font-size: 16px;
	color: #0091be;
}
.title {
	font-size: 30px;
	font-weight: 400;
	margin: 0;
}

.menu {
	width: 315px;
	font-size: 16px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.menu-list{
	padding-left: 0;
	margin: 0;
}
.menu-list__item {
	display: inline-block;
	margin-right: 35px;
}
.menu-list__item:last-child {
	margin-right: 0;
}
.link {
	vertical-align: baseline;
	text-decoration: none;
	color: #000;
	transition: color .3s ease-in-out .1s;
}
.link:hover {
	color: #0091be;
}
*:focus {
	outline: double 4px #fad027;
	outline-offset: 4px;
}
.clear:after {
    content: "";
    clear: both;
    display: block;
}
.banner {
	min-width: 1200px;
	padding-top: 130px;
	padding-bottom: 50px;
	background-color: #0091be;
}
.banner__container {
    display: flex;
	justify-content: center;
	align-items: center;
}
.slogan {
	margin-left: 45px;
	color: #fff;
    font-style: italic;
	font-size: 35px;
}
.slogan__elem2 {
	display: block;
}
.section {
	min-width: 1200px;
	border-bottom: 3px solid #eee;
	box-shadow: inset 0 -10px 20px 0px #eee;
}

.section-header {
	border-bottom: 2px solid #eee;
	padding-bottom: 25px;
	padding-top: 55px;
	margin-bottom: 55px;
}
.section-header__title {
	font-size: 35px;
}
.content {
	padding-bottom: 45px;
	display: flex;
	justify-content: space-between;
}
.post__description {
	width: 565px;
}
.post__description__text {
	margin: 0;
	line-height: 30px;
}
.status-box {
	width: 570px;
}
.progress-bar__status {
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #eee;
	width: 100%;
	border-radius: 0 5px 5px 0;
	overflow: hidden;
}
.status {
	border-radius: 0 5px 5px 0;
}
.progress-bar__name {
	font-weight: bold;
}
.progress-bar__status1 {
	width: 90%;
	height: 25px;
	background-color: #0091be;
	animation: progress 3s ease-in-out 1s 2 alternate-reverse;
}
@keyframes progress{
    0% { transform: translate3d(-100%,0,0); }
	30% { background-color: #000; }
    100% { transform: translate3d(0,0,0); }
}
.progress-bar__status2 {
	width: 81%;
	height: 25px;
	background-color: #40c95d;
	animation: progress 3s ease-in-out 1s 2 alternate-reverse;
}
.progress-bar__status3 {
	width: 94%;
	height: 25px;
	background-color: #d7d93f;
	animation: progress 3s ease-in-out 1s 2 alternate-reverse;
}
.section__project {
	font-size: 0;
}
.project {
	margin-bottom: 13px;
	margin-right: 16px;
	display: inline-block;
	position: relative;
	text-decoration: none;
}
.project:nth-child(4n+4) {
	margin: 0;
}
.project:hover .project-insert {
	background-color: #0091be;
	opacity: 1;
}
.project-insert {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	font-size: 16px;
	transition: opacity .5s ease-out;
}

.project-insert__lable {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.lable {
	color: #fff;
}
.column__title {
	max-width: 576px;
}
.column__container {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.column__image {
	margin-bottom: 25px;
	min-width: 100px;
	max-width: 100%;
}
.major-post {
	margin-bottom: 50px;
}
.date {
	margin-right: 65px;
}
.column__day {
	width: 120px;
	height: 45px;
	background-color: #eee;
	display: table;
}
.day{
	display: table-cell;
	vertical-align: middle;
	padding-left: 50px;
}
.column__month {
	width: 120px;
	height: 25px;
	background-color: #0091be;
	display: table;
	margin-bottom: 20px;
}
.month {
	display: table-cell;
	vertical-align: middle;
	padding-left: 45px;
	color: #fff;
}
.author__name {
	font-size: 13px;
}
.column__news {
	width: 1010px;
	display: inline-block;
	vertical-align: top;
}
.news__text {
	margin: 0;
	padding-left: 15px;
	padding-bottom: 15px;
}
.tags {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.tag-names {
	display: inline-block;
	background-color: #0091be;
	padding-left: 5px;
	padding-right: 5px;
}
.tag-names__link {
	text-decoration: none;
	color: #fff;
	transition: color .3s ease-in-out .1s;
}
.tag-names__link:hover {
	color: #eee;
}

.secondary-post {
	float: left;
}
.text {
	width: 470px;
	margin: 0;
	line-height: 30px;
}
.date-sec {
	width: 50px;
}
.column__day-sec {
	width: inherit;
	height: 35px;
	background-color: #eee;
	display: table;
}
.day-sec {
	display: table-cell;
	vertical-align: middle;
	padding-left: 22px;
}
.column__month-sec {
	width: inherit;
	height: 25px;
	background-color: #0091be;
	display: table;
}
.month-sec {
	display: table-cell;
	vertical-align: middle;
	padding-left: 11px;
	color: #fff;
}
.last-post {
	float: right;
}

.tag__link1 {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	transition: color .3s ease-in-out .1s;
}
.tag__link1:hover {
	color: #eee;
}
.column__access {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}
.map {
	min-width: 1200px;
}
.footer {
	min-width: 1200px;
	background-color: #3c3838;
	padding-top: 30px;
	padding-bottom: 25px;
}
.footer__container {
	font-size: 14px;
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.link__developer {
	color: inherit;
	text-decoration: none;
}
