@font-face {
	font-family: 'Roboto';
	src:url('../fonts/Roboto-Regular.woff') format('woff'),
	url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src:url('../fonts/Roboto-Bold.woff') format('woff'),
	url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src:url('../fonts/Roboto-Italic.woff') format('woff'),
	url('../fonts/Roboto-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

html {
	font-size: 10px;
}

@media screen and (max-width: 960px) {
	html {
		font-size: 8px;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 7px;
	}
}

@media screen and (max-width: 480px) {
	html {
		font-size: 6px;
	}
}

body{
	margin: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 1.6rem;
}

.header {
	position: fixed;
	min-width: 100%;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	z-index: 9999;
	background-color: #fff;
	border-bottom: 0.5rem solid #fad027;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	margin: 0;
}

.header__logo-name {
	font-size: 2.4rem;
}
.header__logo-lable {
	font-size: 1.6rem;
	display: block;
	color: #0091be;
}
.title {
	font-size: 3rem;
	font-weight: 400;
	margin: 0;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}
.menu {
	display: flex;
	align-items: center;
}
@media screen and (max-width: 960px) {
	.menu__list {
		display: none;
	}
}
.menu__button {
	background: url(../images/burger.svg) no-repeat;
	width: 2.8rem;
	height: 3.2rem;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 30%;
	right: 3%;
	padding: 0;
	display: none;
}
@media screen and (max-width: 960px) {
	.menu__button {
		display: flex;
	}
}
.menu__list{
	padding-left: 0;
	margin: 0;
}
.menu__list-item {
	display: inline-block;
	margin: 0 1.7rem;
}
.menu__list-item:last-child {
	margin-right: 0;
}
.link {
	vertical-align: baseline;
	text-decoration: none;
	color: #000;
	transition: color .3s ease-in-out .1s;
}
.link:hover {
	color: #0091be;
}

*:focus {
	outline: double 0.4rem #fad027;
	outline-offset: 0.4rem;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}

.banner {
	padding-top: 12.8rem;
	padding-bottom: 4.8rem;
	background-color: #0091be;
}

.banner__container {
  display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 768px){
	.banner__container {
		flex-direction: column;
	}
}
.slogan {
	margin-left: 4.4rem;
	color: #fff;
    font-style: italic;
	font-size: 3.5rem;
}
.section {
	border-bottom: 0.4rem solid #eee;
	box-shadow: inset 0 -1.1rem 3.2rem #eee;
}
.section-header {
	border-bottom: 0.1rem solid #eee;
	padding-bottom: 3.2rem;
	padding-top: 5.5rem;
	margin-bottom: 3.5rem;
}
.section-header__title {
	font-size: 3.5rem;
}
.content {
	padding-bottom: 4.4rem;
	display: flex;
}
@media screen and (max-width: 960px){
	.content {
		flex-direction: column;
	}
}
.post__description {
	width: 50%;
	margin-right: 1.6rem;
}
@media screen and (max-width: 960px){
	.post__description{
		width: 100%;
		margin-right: 0;
	}
}
.post__description__text {
	margin: 0;
	line-height: 2.8rem;
}
.status-box {
	width: 50%;
}
@media screen and (max-width: 960px){
	.status-box{
		width: 100%;
		margin-top: 2.8rem;
	}
}
.progress-bar__status {
	margin-top: 0.9rem;
	margin-bottom: 2rem;
	background-color: #eee;
	width: 100%;
	border-radius: 0 0.6rem 0.6rem 0;
	overflow: hidden;
}
.status {
	border-radius: 0 0.6rem 0.6rem 0;
}
.progress-bar__name {
	font-weight: bold;
}
.progress-bar__status1 {
	width: 90%;
	height: 2.5rem;
	background-color: #0091be;
	animation: progress;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-delay: 1s;
	animation-direction: normal;
}
@keyframes progress {
	0% {
		width: 0;
		background-color: #fff;
	}
	20% {
		background-color: #fff;
	}
}
.progress-bar__status2 {
	width: 81%;
	height: 2.5rem;
	background-color: #40c95d;
	animation: progress 3s ease-in-out 1s 1 normal;
}
.progress-bar__status3 {
	width: 94%;
	height: 2.5rem;
	background-color: #d7d93f;
	animation: progress 3s ease-in-out 1s 1 normal;
}
.section__project {
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
}
.project {
	width: 23%;
	margin-bottom: 2.6%;
	margin-right: 2.6%;
	position: relative;
	text-decoration: none;
}
.project:nth-of-type(4n+4) {
	margin-right: 0;
}
@media screen and (max-width: 960px) {
	.project {
		width: 31%;
		margin-right: 3.5%;
	}
	.project:nth-of-type(4n+4) {
		margin-right: 3.5%;
	}
	.project:nth-of-type(3n) {
		margin-right: 0;
	}
}
@media screen and (max-width: 480px) {
	.project {
		width: 49%;
		margin-right: 2%;
	}
	.project:nth-of-type(4n+4) {
		margin-right: 2%;
	}
	.project:nth-of-type(3n) {
		margin-right: 2%;
	}
	.project:nth-of-type(2n) {
		margin-right: 0;
	}
}
.project:hover .project-insert {
	background-color: #0091be;
	opacity: 1;
}
.project__image {
	width: 100%;
}
.project-insert {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	font-size: 1.6rem;
	transition: opacity .5s ease-out;
}
.project-insert__lable {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.lable {
	color: #fff;
}
.column {
	display: flex;
	flex-wrap: wrap;
}
.column__container {
	margin-top: 2rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.column__container:nth-of-type(1) {
	max-width: 100%;
}
.column__image {
	margin-bottom: 2.4rem;
	width: 100%;
}
.date {
	margin-right: 3.2rem;
	display: flex;
	flex-direction: column;
}
.date:first-child {
	width: 25%;
}
.column__day {
	background-color: #eee;
	text-align: center;
	padding: 1.6rem 0.8rem;
}
.column__month {
	background-color: #0091be;
	margin-bottom: 2rem;
	text-align: center;
	padding: 0.8rem;
}
.month {
	color: #fff;
}
.author__name {
	font-size: 1.3rem;
}
.column__news {
	width: 1010px;
	display: inline-block;
	vertical-align: top;
}
.news__text {
	margin: 0;
	padding-left: 1.6rem;
	padding-bottom: 1.6rem;
}
.tags {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.tag-names {
	display: inline-block;
	background-color: #0091be;
	padding: 0 0.4rem;
	margin: 0.4rem 0;
}
.tag-names__link {
	text-decoration: none;
	color: #fff;
	transition: color .3s ease-in-out .1s;
}
.tag-names__link:hover {
	color: #eee;
}
.tag__image {
	width: 17px;
	height: 17px;
	transform: scale(-1,1);
	background: url(../images/tags.svg)
	no-repeat;
	background-size: contain;
	display: inline-block;
}

.user {
	width: 17px;
	height: 17px;
	background: url(../images/user.svg)
	no-repeat;
	background-size: contain;
	display: inline-block;
}

.column__access {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2.4rem;
}

@media screen and (max-width: 960px) {
	.column__access {
		flex-direction: column;
		align-items: flex-start;
	}
}

.secondary-post {
	width: 48.5%;
	margin-right: 1.5%;
	margin-top: 4.9rem;
}

.text {
	margin: 0;
	line-height: 2.9rem;
}

.date-sec {
	width: 50px;
	margin-right: 2.4rem;
}

.column__day-sec {
	width: inherit;
	height: 3.5rem;
	background-color: #eee;
	display: table;
}

.day-sec {
	display: table-cell;
	vertical-align: middle;
	padding-left: 2rem;
}
.column__month-sec {
	width: inherit;
	height: 2.4rem;
	background-color: #0091be;
	display: table;
}
.month-sec {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1rem;
	color: #fff;
}
.last-post {
	width: 48.5%;
	margin-left: 1.5%;
	margin-top: 4.9rem;
}
.tag__link1 {
	text-decoration: none;
	color: #fff;
	font-size: 1.3rem;
	transition: color .3s ease-in-out .1s;
}
.tag__link1:hover {
	color: #eee;
}
.map {
	min-width: 100%;
	background: transparent;
	position: relative;
}
.footer {
	width: 100%;
	background-color: #3c3838;
	padding-top: 2.9rem;
	padding-bottom: 2.4rem;
}
.footer__container {
	font-size: 1.3rem;
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.link__developer {
	color: inherit;
	text-decoration: none;
}
