@font-face {
	font-family: 'Open Sans';
	src:url('../fonts/OpenSans-Regular.woff') format('woff'),
	url('../fonts/OpenSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src:url('../fonts/OpenSans-Bold.woff') format('woff'),
	url('../fonts/OpenSans-Regular.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

html {
    font-size: 10px;
}

body  {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

h1, h2 {
    margin: 0;
}

.content-page {
    margin-top: 4rem;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
}

.main__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.main__lang {
    display: flex;
    align-items: baseline;
    font-size: 1.8rem;
}

.main__title {
    font-size: 13rem;
    align-self: center;
    color: #3d3d3d;
    font-weight: 900;
}

.contacts {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 3rem 0;
}

.contacts__inner {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: #4f4f4f;
}

.contacts__content {
    max-width: 50rem;
    margin-top: 2rem;
    margin-right: 2rem;
    font-size: 1.8rem;
}

.contacts__map {
    width: 40%;
}

.contacts__title {
    font-weight: 700;
    font-size: 2rem;
}

.link {
    text-decoration: none;
    color: inherit;
  }

.menu-hamburger {
	font-size: 0;
	background-color: #fff;
	border: 1px solid #3d3d3d;
    cursor: pointer;
    padding: 0 .8rem;
}
  
#menu-hamburger__icon {
	width: 2rem;
	position: relative;
	height: 3.2rem;
}

#menu-hamburger__icon span {
  display: block;
  position: absolute;
  height: 0.2rem;
  width: 50%;
  background: #3d3d3d;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu-hamburger__icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 0.9rem 0.9rem 0;
}

#menu-hamburger__icon span:nth-child(odd) {
  left:0;
  border-radius: 0.9rem 0 0 0.9rem;
}

#menu-hamburger__icon span:nth-child(1), #menu-hamburger__icon span:nth-child(2) {
  top: 1rem;
}

#menu-hamburger__icon span:nth-child(3), #menu-hamburger__icon span:nth-child(4) {
  top: 1.5rem;
}

#menu-hamburger__icon span:nth-child(5), #menu-hamburger__icon span:nth-child(6) {
  top: 2rem;
}

#menu-hamburger__icon.open span:nth-child(1),#menu-hamburger__icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-hamburger__icon.open span:nth-child(2),#menu-hamburger__icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-hamburger__icon.open span:nth-child(1) {
  left: 0.5rem;
  top: 0.7rem;
}

#menu-hamburger__icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 0.7rem;
}

#menu-hamburger__icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#menu-hamburger__icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#menu-hamburger__icon.open span:nth-child(5) {
  left: 0.5rem;
  top: 2.9rem;
}

#menu-hamburger__icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 2.9rem;
}

.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.footer__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    background-color: #eee;
    margin-right: 1rem;
}

.footer__icon:last-child {
    margin-right: 0;
}

.footer__coopyright {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    font-size: 1rem;
    color: #afafaf;
}

@media screen and (max-width: 840px) {
    html {
        font-size: 8px;
    }
    
    .contacts {
        flex-direction: column;
    }

    .contacts__map {
        width: 100%;
    }

    .contacts__inner {
        margin-bottom: 3rem;
    }
}